<html>
    <head>
        <title> Like-A-G6 Logon</title>
        <!--script-->
    </head>
    <body>
        <h1>Enter your details:</h1>
    <br>
        <form action="" method="post">
            <input type="text" placeholder="Username" name="username" value="{{ request.form.username }}">
            <input type="text" placeholder="Password" name="password" value="{{ request.form.password }}">
            <input class="btn btn-default" type="submit" value="Login">
        </form>
    {% if username %}
        <p class="username">Welcome {{ username }}</p>
        <a href="/landing">
            <Button> Enter Site </Button>
        </a>
    {% endif %}
    {% if error %}
        <p class="error">Error: {{ error }}</p>
    {% endif %}
    </body>
</html>
